@page "/event"
@inject NavigationManager NavManager;
@using Microsoft.AspNetCore.WebUtilities
@using Data

@if (Event != null)
{
    <h3 style="display:inline-block">@Event.Name</h3>
    @if (Event.PlacesLeft > 0)
    {
        <button class="btn btn-primary" style="float:right" @onclick="Join">Join</button>
    }
    else
    {
        <button class="btn btn-primary" style="float:right" @onclick="Join" disabled>Join</button>
    }
    <br />
    @((MarkupString)Event.HTMLPage)
}

@code {
    private Event Event;

    private void Join()
    {
        NavManager.NavigateTo($"join?id={ Event.Id }");
    }

    protected override void OnInitialized()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var _id))
        {
            int eventId = 0;
            bool success = Int32.TryParse(_id, out eventId);

            if (success)
            {
                SetEvent(eventId);
            }
        }
    }

    private void SetEvent(int id)
    {
        DataAccess dataAccess = new DataAccess();

        Event = dataAccess.GetEvent(id);
    }
}
