@page "/events" 
@using Data
@inject NavigationManager NavManager 

<h3>Events</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Places Left
            </th>
            <th>
                Date
            </th>
            <th>
                Open
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventData in events)
        {
            <tr>
                <td>
                    @eventData.Name
                </td>
                <td>
                    @eventData.PlacesLeft
                </td>
                <td>
                    @eventData.Date
                </td>
                <td>
                    <button type="button" class="btn btn-info" @onclick="() => OpenEvent(eventData.Id)">Open</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Event> events = new List<Event>();

    private void OpenEvent(int id)
    {
        NavManager.NavigateTo($"event?id={id}");
    }

    protected override void OnInitialized()
    {
        DataAccess dataAccess = new DataAccess();

        events = dataAccess.GetEvents();
    }
}
